@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    
    --primary: 217 89% 47%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 37%;
    
    --muted: 220 13% 91%;
    --muted-foreground: 0 0% 37%;
    
    --accent: 214 100% 95%;
    --accent-foreground: 217 89% 47%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 217 89% 47%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-roboto antialiased;
  }
}

.font-light {
  @apply font-[300];
}

.font-regular {
  @apply font-[400];
}

.font-medium {
  @apply font-[500];
}

.font-bold {
  @apply font-[700];
}

h1 {
  @apply text-[18px] font-bold leading-[110%];
}

h2 {
  @apply text-[14px] font-medium leading-[110%];
}

h3 {
  @apply text-[12px] font-medium leading-[110%];
}

.body-l {
  @apply text-[16px] font-normal leading-[140%];
}

.body-m {
  @apply text-[14px] font-normal leading-[140%];
}

.body-s {
  @apply text-[12px] font-normal leading-[140%];
}

.caption-m {
  @apply text-[12px] font-medium leading-[100%];
}

.caption-s {
  @apply text-[10px] font-medium leading-[100%];
}

.button-xl {
  @apply text-[18px] font-bold leading-[24px];
}

.button-l {
  @apply text-[16px] font-bold leading-[24px];
}

.button-m {
  @apply text-[14px] font-bold leading-[24px];
}

.button-s {
  @apply text-[12px] font-bold leading-[24px];
}